/*----------
    RESET
----------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------
    GENERAL
--------------*/
body{
    font-family: 'Cabin', sans-serif;
}

.button{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    text-align: center;
    cursor: pointer;
}

button:hover{
    color: #5865F2;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

a{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

.link{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

/*----------------
    GRID LAYOUT
-----------------*/
.container{
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;   
    margin-right: -10px; 
}

.row > * {
    padding: 0 10px;
}

.col-25{
    width: 25%;
}

.col-30{
    width: 30%;
}

.col-40{
    width: 40%;
}

.col-50{
    width: 50%;
}

.col-60{
    width: 60%;
}

.col-70{
    width: 70%;
}

/*---------------
    TYPOGRAPHY
-----------------*/

h1{
    font-size: 50px;
    margin-bottom: 65px;
}


h2{
    font-size: 30px;
    margin-bottom: 50px;
}

h3{
    font-weight: bold;
    font-size: 25px;
}

.hero{
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}


/*------------
    HEADER
--------------*/

header{
    background-color: #2A5EE8;
    padding-top: 35px;
}

header .row{
    justify-content:space-between;
    align-items: center;
    align-items: center;
    padding-top: 5px;
}

.header-logo{
    display: flex;
    justify-content: center;   
}

.link-nav{
    justify-content: space-around;
    flex-wrap: wrap;
}

.btn{
    display: flex;
    justify-content: center;
}

/*---------
    HERO
-----------*/
.hero{
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .row{
    background-color: transparent;
    border-radius: 5px;
    max-width: 800px;
    padding-right: 40px;
    padding-left: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hero-btn{
    margin-top: 30px;
}

.apri-btn{
    background-color: #23272A;
    color: #FFFFFF;
}

.scarica-btn, .apri-btn{
    padding: 15px 30px;
    border-radius: 40px;
}

.apri-btn:hover{
    color: #FFFFFF;
    background-color: #313338;
}

/*--------------------
    FIRST SECTION
----------------------*/

.first-section .container .row{
    min-height: 500px;
}

.first-section .container{
    padding: 60px;
}

.sctn1-img{
    background-image: url(./img/item1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    justify-content: center;
}

.sctn1-text{
    text-align: justify;
    padding: 0px 30px;
    padding-top: 35px;
}

/*--------------------
    SECOND SECTION
----------------------*/

.second-section{
    background-color: #F6F6F6;
}

.second-section .container .row{
    min-height: 500px;
}

.second-section .container{
    padding: 60px;
}

.sctn2-img{
    background-image: url(./img/item2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    justify-content: center;
}

.sctn2-text{
    text-align: justify;
    padding: 0px 30px;
    padding-top: 35px;
}

/*--------------------
    THIRD SECTION
----------------------*/
.third-section .container .row{
    min-height: 500px;
}

.third-section .container{
    padding: 60px;
}

.sctn3-img{
    background-image: url(./img/item3.svg);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    justify-content: center;
}

.sctn3-text{
    text-align: justify;
    padding: 0px 30px;
    padding-top: 35px;
}

/*--------------------
    FOURTH SECTION
----------------------*/

.fourth-section{
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 40px;
    padding-left: 40px;
    min-height: 500px;
    padding: 50px 0px;
}


.sctn4-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 800px;
}

.fourth-section .row{
    background-image: url(./img/item4-big.svg);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 500px;
    min-width: 800px;
    margin-bottom: 30px;

}

.img-text{
    background-image: url(./img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 28px;  
}

.sctn4-btn{
    padding: 15px 30px;
    border-radius: 40px;
    color: #FFFFFF;
    background-color:#5865f2 ;
}

.sctn4-btn:hover{
    color: #FFFFFF;
    background-color: #7289DA;
}


/*-----------
    FOOTER
-------------*/

footer{
    background-color: #23272A;
    padding-top: 12px;
    color: #FFFFFF;
}

.color-title{
    color: #7289DA;
}

.footer-text{
    display: flex;
    flex-direction: column;
}

.ita{
    max-height: 70%; 
    max-width: 70%;
}

.flag{
    display: flex;
    align-items: center;
    margin-top: 35px;
    height: 20px;
    line-height: 20px;
}

.language{
    padding-left: 10px;
}

.awsome-icons{
    max-width: 100px;
    justify-content: space-between;
}

.awsome-icons ul{
    color: #FFFFFF;
}

.color-title{
    margin-bottom: 30px;
}

.footer-link{
    flex-direction: column;
    line-height: 40px;
}


.footer-measure{
    min-height: 570px;
}


/*---------------------
    FOOTER BOTTOM
-----------------------*/
footer .container:nth-child(2){
    border-top: solid 2px white;
    padding-top: 30px;
    margin-top: 40px;
}

.footer-bottom{
    background-color: #7FFFD4;
    min-height: 50px;
    justify-content: space-between;
    align-items: center;
}

.footer-logo, .footer-btn{
    background-color: #FFB6C1;
}


